[Service]
Environment="ETCD_IMAGE_TAG=v{{ etcd.version }}"
Environment="ETCD_NAME={{ fqdn }}"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ fqdn }}:2379"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ fqdn }}:2380"
Environment="ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379"
Environment="ETCD_LISTEN_PEER_URLS=https://0.0.0.0:2380"
Environment="ETCD_INITIAL_CLUSTER={{ fqdn }}=https://{{ fqdn }}:2380"
Environment="ETCD_STRICT_RECONFIG_CHECK=true"
Environment="ETCD_SSL_DIR=/etc/ssl/etcd"
Environment="ETCD_TRUSTED_CA_FILE=/etc/ssl/certs/server-ca.crt"
Environment="ETCD_CERT_FILE=/etc/ssl/certs/server.crt"
Environment="ETCD_KEY_FILE=/etc/ssl/certs/server.key"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/certs/peer-ca.crt"
Environment="ETCD_PEER_CERT_FILE=/etc/ssl/certs/peer.crt"
Environment="ETCD_PEER_KEY_FILE=/etc/ssl/certs/peer.key"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"

